<style>
  * {
  box-sizing: border-box;
}
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 10px;
  text-align: left;
  font-family: arial;
  display: table;
  padding: 10px;
  float: left;
}

.price {
  color: grey;
  font-size: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* .card button {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

/* .card button:hover {
  opacity: 0.7;
} */
div {
  display: table;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  width: 100%;
}

.modal-body {
  padding: 2px 16px;
  width: 100%;
}

.button4 {
  padding: 2px 16px;
  background-color: #5cb85c;
  border-radius: 12px;;
  color: white;
  width: 20%;
}
</style>
<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Lisää Kokoelmaan</h2>
    </div>
    <div class="modal-body">
      <form action="/add_own_coin" method="POST">
        Kolikko: <input type="text" id="coin_name" name="Coin name" value="" placeholder="" readonly="readonly"><br><br>
        Määrä: <input type="number" name="amount"/><br><br>
        <input type="submit" class="button4" value="lisää" />
      </form>
    </div>
  </div>

</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Kaikki kolikot</h1>
<div class="table">
{% for coin in all_coins %}

<div class="card">
  <img src={{coin.image_url}} alt={{coin.id}} style="width:100%">
  <!-- <h1>{{ coin.name }}</h1> -->
  <p>{{ coin.value }} {{ coin.currency }}</p>
  <p>{{coin.country}} - {{ coin.year }}</p>
  {% if url_for(request.endpoint) == '/coin' %}
  <p><a href="/coin/{{coin.id}}">Lue lisää</a></p>
  {% else %}
  <p><a href="/admin/coin/{{coin.id}}">Lue lisää</a></p>
  {% endif %}
  <!-- {{ url_for(request.endpoint) }} -->
  {% if session.username %}
  <button onclick="popupFormFunction('{{coin.name}}')" class="w3-button w3-xlarge w3-circle w3-teal" style="float: right;">+</button>
  
    
  {% endif %}
</div>

{% endfor %}
</div>
<script>
  function popupFormFunction(coin_name) {
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    var div2 = document.getElementsByClassName("table")
    document.getElementsByName("Coin name")[0].placeholder = coin_name
    document.getElementsByName("Coin name")[0].value = coin_name
    modal.style.display = "block";
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  }
</script>
{% block user_content %}{% endblock %}