<head>
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {% if message.code == 1 %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          {{message.message}}
        </div>
      {% endif %}
      {% if message.code == 2 %}
        <div class="alert success">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          {{message.message}}
        </div>
      {% endif %}
      {% if message.code == 3 %}
        <div class="alert info">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          {{message.message}}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
</body>
